
<nav>
  <div class="router">
    <div class="logo">
      <i class="fas fa-circle-notch"></i>
    </div>

    <div class="route" [class.open]="onDashboard">
      <i class="fas fa-arrow-left"></i>
      <label for=""> Permissions</label>
    </div>
    <div class="name" [class.open]="onDashboard">
      <label for="">API Dashboard</label>
    </div>
  </div>
  <div class="navbar">

  </div>
</nav>

<div class="side-nav" [class.open]="onDashboard">
  <a routerLink="/perms" routerLinkActive="active"><i class="fas fa-list-ul"></i>Permissions</a>
  <a routerLink="/keys" routerLinkActive="active"><i class="fas fa-list-ul"></i>Api Keys</a>
  <a routerLink="/logs" routerLinkActive="active"><i class="fas fa-list-ul"></i>Logs</a>
  <a routerLink="/docs" routerLinkActive="active"><i class="fas fa-list-ul"></i>Documentation</a>
</div>

<div class="content" [class.open]="onDashboard">
  <router-outlet></router-outlet>
</div>
